table {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

caption {
    text-transform: uppercase;
    background-color: paleturquoise;
    color: white;
    padding: 5px;


}

h1 {
    font-size: 30px;
    color: blue;
    text-align: center;
}

th,
td {
    padding: 3px 5px;

}


th {
    background-color: slateblue;

}

td {
    background-color: sandybrown;
    text-align: left;
}